In [1]:
import pandas as pd
dataset=pd.read_excel("Attrition_Rate_analysis.xls", sheet_name=1)
dataset.head()
dataset.columns

Index(['DistanceFromHome_YES', 'DistanceFromHome_NO', 'MonthlyIncome_YES',
       'MonthlyIncome_NO', 'NumCompaniesWorked_YES', 'NumCompaniesWorked_NO',
       'PercentSalaryHike_YES', 'PercentSalaryHike_NO',
       'TotalWorkingYears_YES', 'TotalWorkingYears_NO', 'YearsAtCompany_YES',
       'YearsAtCompany_NO', 'YearsWithCurrManager_YES',
       'YearsWithCurrManager_NO'],
      dtype='object')

In [2]:
dataset.isnull()

,DistanceFromHome_YES,DistanceFromHome_NO,MonthlyIncome_YES,MonthlyIncome_NO,NumCompaniesWorked_YES,NumCompaniesWorked_NO,PercentSalaryHike_YES,PercentSalaryHike_NO,TotalWorkingYears_YES,TotalWorkingYears_NO,YearsAtCompany_YES,YearsAtCompany_NO,YearsWithCurrManager_YES,YearsWithCurrManager_NO
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,False,False,False,False,False,False,False,False,False,False,False,False,False,False
707,False,False,False,False,False,False,False,False,False,False,False,False,False,False
708,False,False,False,False,False,False,False,False,False,False,False,False,False,False
709,False,False,False,False,False,False,False,False,False,False,False,False,False,False
710,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [3]:
dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
706    False
707    False
708    False
709    False
710    False
Length: 711, dtype: bool

In [4]:
dataset.drop_duplicates()

,DistanceFromHome_YES,DistanceFromHome_NO,MonthlyIncome_YES,MonthlyIncome_NO,NumCompaniesWorked_YES,NumCompaniesWorked_NO,PercentSalaryHike_YES,PercentSalaryHike_NO,TotalWorkingYears_YES,TotalWorkingYears_NO,YearsAtCompany_YES,YearsAtCompany_NO,YearsWithCurrManager_YES,YearsWithCurrManager_NO
0,10,6,41890,131160,0.0,1.0,23,11,6.0,1.0,5,1,4,0
1,11,17,58130,193280,2.0,1.0,20,15,5.0,5.0,0,5,0,3
2,1,2,57620,83210,1.0,3.0,11,11,10.0,13.0,10,8,9,5
3,1,10,103330,23420,3.0,4.0,14,12,19.0,9.0,1,6,0,4
4,4,8,68540,40710,2.0,3.0,11,13,5.0,28.0,3,7,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,7,14,21800,27950,1.0,3.0,21,13,4.0,9.0,4,4,1,3
707,11,10,71400,23800,5.0,4.0,21,13,8.0,9.0,5,6,4,2
708,1,2,51470,47650,7.0,8.0,11,12,13.0,10.0,9,8,7,6
709,23,3,24680,20440,0.0,1.0,11,11,4.0,1.0,3,1,2,0
710,2,11,40010,26930,6.0,1.0,11,18,17.0,36.0,1,36,0,13

In [6]:
from scipy.stats import ttest_ind
z1=dataset.DistanceFromHome_YES
z2=dataset.DistanceFromHome_NO
stats, p=ttest_ind(z2,z1)

In [7]:
print(stats,p)

0.12432886017155614 0.9010724941219667

In [8]:
#As the P value is  0.9010, which is > than 0.05, the H0 is accepted and ha is Rejected.
#H0: There is no significant differences in the Distance From Home between attrition (Y) and attirition(N)
#Ha: There is significant differences in the Distance From Home between attrition (Y) and attrition(N)

In [9]:
##Attrition vs income

In [10]:
from scipy.stats import ttest_ind
z1=dataset.MonthlyIncome_YES
z2=dataset.MonthlyIncome_NO
stats, p=ttest_ind(z2,z1)

In [11]:
print(stats,p)

0.12432886017155614 0.18554747671393296

In [12]:
#As the P value is  0.1855, which is > than 0.05, the H0 is accepted and ha is Rejected.
#H0: There is no significant differences in the MonthlyIncome between attrition (Y) and attirition(N)
#Ha: There is significant differences in the MonthlyIncome between attrition (Y) and attrition(N)

Attrition Vs Yeats At Company

In [15]:
z1=dataset.YearsAtCompany_YES
z2=dataset.YearsAtCompany_NO
stats, p=ttest_ind(z2,z1)

In [16]:
print(stats,p)

7.058064846165972 2.632171469019036e-12

In [17]:
2.632171469019036e-02

0.02632171469019036

In [18]:
#As the P value is  0.02, which is <  than 0.05, the H0 is Rejected and Ha is Accepted.
#H0: There is no significant differences in the YearsAtCompany between attrition (Y) and attirition(N)
#Ha: There is significant differences in the YearsAtCompany between attrition (Y) and attrition(N)

Attrition Vs Years With Current Manager

In [19]:
z1=dataset.YearsWithCurrManager_YES
z2=dataset.YearsWithCurrManager_NO
stats, p=ttest_ind(z2,z1)

In [20]:
print(stats,p)

8.049518109463904 1.7413860830488999e-15

In [21]:
1.7413860830488999e-02

0.017413860830489

In [ ]:
#As the P value is  0.01 which is <  than 0.05, the H0 is Rejected and Ha is Accepted.
#H0: There is no significant differences in the YearsWithCurrManager between attrition (Y) and attirition(N)
#Ha: There is significant differences in the YearsWithCurrManager between attrition (Y) and attrition(N)